:root{
    --heading:"Poppins", sans-serif;
    --body-text:"Roboto", sans-serif;
}

#logo-text{
    font-family: var(--heading);
}
.li-style{
    margin: 1rem;
    margin-right: 2.5rem;
    font-weight: 400;
    font-family: var(--heading);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}
.li-style:hover{
    transform: scale(1.05);
}
.li-style a {
  text-decoration: none;
   color: inherit;
}
.heading{
    font-family: var(--heading);
}

/* Add.jsx */
.textfield-style{
    width: 90%;
}

/* page not found */
#pageH{
    margin-top: -120px;
}
@media (max-width:768px) {
    #pageH{
    margin-top: 0px;
}
#div1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
}

/* dashboard */

.dashboard-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;

}

.dashboard-card:hover {
  transform: scale(1.05);
}

.dashboard-icon {
  font-size: 45px;
}

.total-icon {
  color: #343536;
}

.applied-icon {
  color: #757575;
}

.interview-icon {
  color: #2643c5;
}

.hired-icon {
  color: #40ce33;
}

.rejected-icon {
  color: #e53935;
}

.dashboard-title {
  font-size: 16px;
  color: #4b5156;
  font-weight: bold;
}

.dashboard-value {
  font-size: 22px;
  font-weight: bold;
}

/* landing page */

#section1-left{
    padding-left: 2rem;
    margin-top: 2rem;
}
#section1-head{
    font-family: var(--heading);
    line-height: 4.5rem;
    letter-spacing: 3px;
    font-size: 45px;
    font-weight: 600;
   
}

#section1-p{
    font-family: var(--body-text);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;

}
#learn-btn{
    border: 2px solid #0d6efd;
 
}
#container-1-landing{
  min-height: 100vh;
}
 #section1-img img{
  width: 520px;
 }


/* Small screens (mobile) */
@media (max-width: 768px) {
  #container-1-landing{
  min-height: 50vh;
}

    #section1-head {
        font-size: 20px;
        line-height: 1.8rem;
        letter-spacing: 1px;
       
    }
    #section1-p {
        font-size: 14px;
        letter-spacing: 0.5px;
        
    }
    #section1-left {
        padding-left: 0.5rem;
       
    }
    #section1-img img {
        width:200px;          
    }
}


.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05); /* slightly enlarge */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* stronger shadow on hover */
}


